@charset "UTF-8";
.container {
  width: 1200px;
  margin: 0 auto;
}

/* 레이아웃 */
#header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
}

/* 헤더 */
.header {
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header h1 {
  width: 140px;
  margin: 18px 0 0 20px;
}

.header h1 svg {
  fill: #000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.header h1 svg:hover {
  fill: #000;
}

.header .nav ul li {
  display: inline;
}

.header .nav ul li a {
  color: #000;
  padding: 26px 20px;
  display: inline-block;
  font-size: 17px;
  font-weight: 600;
}

.header .nav li.live a {
  padding: 4px 20px 6px 20px;
  display: inline-block;
  background: url(../nlive.svg) no-repeat;
  vertical-align: middle;
  width: 86px;
  height: 25px;
}

.header .side-nav {
  padding-right: 45px;
  width: 258px;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .side-nav li {
  padding: 27px 15px 23px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 48px;
  height: 100%;
  display: inline-block;
}

.header .side-nav li i {
  font-size: 30px;
}

#banner {
  background: url(../img/taekyungnongsan_visual.jpg) no-repeat center;
  height: 545px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
  position: relative;
}

#banner h2 {
  color: #fff;
  font-size: 64px;
  font-weight: 500;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#banner .bbox {
  width: 665px;
  height: 204px;
  padding: 60px 30px 60px 50px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#banner .bbox p {
  width: 600px;
  height: 84px;
  color: #fff;
  font-size: 24px;
  text-align: center;
  line-height: 1.75em;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  opacity: 0;
  -webkit-transition: all 0.3s 1.2s;
  transition: all 0.3s 1.2s;
}

#banner .bbox .line-1 {
  position: absolute;
  left: 20px;
  top: 20px;
  display: block;
  width: calc(100% - 80px);
  height: calc(100% - 80px);
}

#banner .bbox .line-1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 0%;
  height: 1px;
  background: #ccc;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#banner .bbox .line-1::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 0%;
  width: 1px;
  background: #ccc;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
}

#banner .bbox .line-2 {
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
}

#banner .bbox .line-2::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 0;
  width: 2px;
  background: #ccc;
  -webkit-transition: all 0.3s 0.9s;
  transition: all 0.3s 0.9s;
}

#banner .bbox .line-2::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background: #ccc;
  -webkit-transition: all 0.3s 0.6s;
  transition: all 0.3s 0.6s;
}

#banner .bbox .circle {
  position: absolute;
  left: 50%;
  top: 15px;
  width: 13px;
  height: 13px;
  background: #96c11f;
  border-radius: 50%;
  -webkit-transition: all 0.3s 1.5s;
  transition: all 0.3s 1.5s;
  opacity: 0;
}

#banner .btn_quick {
  z-index: 1;
  width: 50px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  bottom: -25px;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
}

#banner .btn_quick a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

#banner .btn_quick a i {
  font-size: 20px;
  color: #96c120;
}

#banner.active .line-1::before {
  right: 0;
  left: auto;
  width: 100%;
}

#banner.active .line-1::after {
  top: 0;
  bottom: auto;
  height: 100%;
}

#banner.active .line-2::before {
  right: auto;
  left: 0;
  width: 100%;
}

#banner.active .line-2::after {
  top: auto;
  bottom: 0;
  height: 100%;
}

#banner.active .circle {
  opacity: 1;
}

#banner.active h2 {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#banner.active p {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

#main {
  height: 600px;
}

#main .title-dot {
  position: relative;
}

#main .title-dot .title {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 50px;
}

#main .title-dot .title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 36px;
  height: 36px;
  background: #96c11f;
  border-radius: 50%;
}

#main .container-side {
  width: 1200px;
  margin: 0 auto;
  position: relative;
  margin-top: 40px;
}

#main .container-side .textbox {
  position: relative;
  top: 40px;
  width: 450px;
  background-color: #fff;
  z-index: 1;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 40px 50px;
  margin-left: -40px;
}

#main .container-side .textbox::after {
  content: '';
  position: absolute;
  left: 90%;
  top: 25%;
  display: block;
  width: 80%;
  height: 1px;
  background-color: #539a00;
  letter-spacing: -1px;
}

#main .container-side .textbox h3 {
  position: relative;
  display: inline-block;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -1px;
  margin-bottom: 30px;
  color: #539a00;
  padding-right: 30px;
}

#main .container-side .textbox p {
  font-size: 20px;
  margin-bottom: 0;
}

#main .container-side img {
  position: absolute;
  top: 0;
  right: 0;
  width: 65%;
  height: 470px;
}

#acticle {
  margin: 100px 0;
}

#acticle p {
  padding: 70px 30px;
  border: solid #e4e4e4;
  border-width: 0 2px 2px 0;
  text-align: center;
  font-size: 20px;
}

#end {
  position: relative;
  margin: 100px;
}

#end .container {
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#end table {
  border-top: 2px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
  width: 60%;
  height: 428px;
}

#end table tbody {
  position: relative;
  font-size: 16px;
}

#end table tbody th {
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 145px;
  vertical-align: top;
  padding: 26px 20px;
  text-align: left;
}

#end table tbody td {
  color: #666;
  font-weight: 400;
  border-bottom: 1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 605px;
  padding: 26px 20px;
}

#end table tbody .btn {
  font-weight: 400;
  color: #888;
  border: 1px solid #888;
  float: right;
  padding: 6px 26px;
}

#end table tbody .btn:hover {
  background: #888;
  color: #fff;
}

#end table caption {
  font-size: 16px;
  text-align: left;
  caption-side: bottom;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
}

.ul1 {
  margin-right: -15px;
  margin-left: -15px;
  font-size: 0;
}

.ul1 li {
  display: inline-block;
  font-size: 15px;
  padding-right: 15px;
  padding-left: 15px;
}

.ul1 li a {
  color: #333;
}

.ul1 li:nth-child(5) a {
  color: #96c11f;
  font-weight: 600;
}

.ul1 li:nth-of-type(6) a {
  color: #ff6216;
  font-weight: 600;
}

.ul1 li {
  position: relative;
}

.ul1 li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 2px;
  width: 1px;
  height: 15px;
  background: #ccc;
}

.ul1 li:nth-of-type(1)::before {
  width: 0;
}

.ul1 li:nth-of-type(6)::before {
  width: 0;
}

.ul1 br ~ li {
  margin-top: 15px;
}

.ul2 {
  margin-right: -15px;
  margin-left: -15px;
  margin-top: 33px;
  font-size: 0;
}

.ul2 li {
  padding-right: 15px;
  padding-left: 15px;
  display: inline-block;
  font-size: 14px;
  line-height: 25px;
  color: #666;
}

.ul2 li a {
  color: #666;
}

.ul2 li:first-child {
  font-weight: 600;
}

#footer .container p {
  margin-top: 30px;
}

#footer {
  border-top: 1px solid #e8e8e8;
}

#footer .container {
  position: relative;
  padding: 37px 40px 41px;
}

.socials {
  position: absolute;
  right: 40px;
  top: 100px;
}

.socials li {
  display: inline-block;
}

.family-site {
  position: absolute;
  right: 40px;
  top: 30px;
}

.family-site i {
  float: right;
}

.family-site a {
  display: inline-block;
  width: 240px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px 10px 20px;
  border: 2px solid #e8e8e8;
  border-radius: 50px;
  color: #666;
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */