@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/* container */
.container {position: relative!important; max-width: 1000px; margin: 0 auto; font-family: "Noto Sans KR";}
/* row */
.row {margin-left: 8px; margin-right: 8px; padding-left: 8px; padding-right: 8px;}
/* layout */
/* header */
#header {
    position: fixed;
    z-index: 100;
    width: 100%;
    z-index: 192;
    background: #fff;
    border-bottom: 1px solid #e5e5e5;
    display: block;
}
#header .container{
    display: flex;
    width: 100%; height: 59px;
    overflow: hidden;
}
#header .container .header-logo {
    height: 59px; width: 64px;
    padding-left: 24px;
}
.header-logo img {
    vertical-align: middle; /*안됨*/
    width: 60px; height: 20px;
}
#header .container .header-btn {
    width: 140px;
    float: right;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#header .container .header-btn img {
    width: 20px; height: 28px;
    
}
#header .container .search {
    position: absolute;
    top: 14px;
    right: 120px;
}
#header .container .cart {
    position: absolute;
    top: 14px;
    right: 80px;
}
#header .container .menu {
    position: absolute;
    top: 14px;
    right: 40px;
}

/* video1 */
#video1 .container .row .mobile {
    position: relative;   /* 버튼 기준 */
    overflow: hidden;
}
#video1 .container .row .mobile .playBtn {
    font-weight: 500; font-size: 16px;
    color: #111; 
    text-align: center; line-height: 1.5;
    display: inline-block;
    padding: 8px 28px;  
    position: absolute; 
    bottom: 42px;
    left: 24px;
    border-radius: 20px;
    background: #fff;
}
#video1 .container .row .overlay {
    width: 100%!important; 
    padding-left: 24px!important; 
    text-align: left;
    /* width: 100% !important; */
    margin-top: 13px;
    margin-bottom: 80px!important;
    /* position: absolute;    기준점 */
}
#video1 .container .row .overlay img {
    padding: 15px 0;
}
#video1 .container .row .overlay p {
    font-size: 16px; font-weight: 400;
    letter-spacing: -1px;
    margin-bottom: 20px;
}
#video1 .container .row .overlay .btnWrap .video1-button {
    border-radius: 20px;
    background: #111;
    padding: 8px 24px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    display: inline-block;
}
#video1 .container .row .overlay .btnWrap .bt1 {
    margin-right: 3px;
}

/* content1 */
#content1 .container .row {
    margin-top: 80px;
    transform: translate3d(0px, 0px, 0px);
    transition-duration: 0ms;
    width: 100%;
}
#content1 .container .row .slide {
    
}
#content1 .container .row p {
    margin-top: 18px;
}