@font-face {
    font-family: 'Chosunilbo_myungjo'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff'); 
    font-weight: normal; font-style: normal; }
* {margin: 0; padding: 0; margin: 0 auto;}
boby {height: 100%; width: 100%; background: #fff;}
.container {position: relative;}

/* header */
#header {
    z-index: 100000;
}
#nav {
    position: fixed; right: 0; top: 0;
    height: 5vh; width: 100%;
    z-index: 100;
    padding: 2rem 3rem;
    display: block;
}
#nav h1 {
    position: absolute; left: 150px;
    color: #000; font-size: 1rem; font-weight: normal;
    margin-top: auto!important;
    margin-bottom: auto!important;
    z-index: 100;
}
#nav ul {
    display: none;
}
#nav .navBtn {
    display: inline-block;
    position: absolute; right: 40px;
    border-radius: 50%;
    border: 1px solid rgba(0,0,0,.5);
    width: 4rem;
    height: 4rem;
    text-align: center;
    line-height: 65px;
    font-size: 0.8rem;
}
/* main */
#main .container {
    background-color: #F4F0EC;
    padding: 10rem .2rem 4rem .2rem;
    display: block;
}
#main .container .mt {
    font-size: 8.5vw; font-weight: 300;
    font-family: "Canela";
    text-align: center;
    line-height: 1;
    z-index: 100;
    box-sizing: border-box;
    position: absolute;
    position: relative;
}
#main .container .mimg {
    max-width: 50%;
    position: absolute; left: 25%;  /*메인글씨 기준*/
    position: relative; /*이미지 아래 기준*/
    margin-top: -4.5em;
    z-index: 1;
}
#main .container .mt2 {
    position: absolute; left: 17%;
    font-size: 8.5vw; font-weight: 300;
    font-family: "Canela";
    z-index: 100;
    margin-top: -.65em;
    box-sizing: border-box;
    padding-left: 6rem!important;
    padding-top: 1.75rem!important;
}
#main .container svg {
    height: 4rem;
    margin-bottom: 4rem!important;
    margin-top: 4rem!important;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* intro */
#intro {
    padding-top: 10rem!important;
    display: flex!important;
    /* font-family: "Chosunilbo_myungjo"; */
    font-family: "ChosunilboNM";
}
#intro .container {
    width: 100%;
    position: absolute; left: 25%;
}
#intro .container div {
    display: flex;
    box-sizing: border-box;
    text-align: center;
    
}
#intro .container h2 {
    font-size: 5rem;
}
#intro .container em {
    color: #9EBDAE;
}
#intro .container img {
    width: 150px; 
    margin: 0; padding: 0;
    margin-left: 1rem!important;
    display: inline-block;
}