@font-face { 
    font-family: 'Chosunilbo_myungjo'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: Canela-Regular;
    font-display: block;
    src: url(../fonts/Canela-Regular.eot);
    src: url(../fonts/Canela-Regular?#iefix) format("embedded-opentype"), url(../fonts/Canela-Regular.woff) format("woff"), url(../fonts/Canela-Regular.ttf) format("truetype");
    font-style: normal
}

@font-face {
    font-family: FoundersGroteskRegular;
    font-display: block;
    src: url(../fonts/FoundersGroteskRegular.eot);
    src: url(../fonts/FoundersGroteskRegular?#iefix) format("embedded-opentype"), url(../fonts/FoundersGroteskRegular.woff) format("woff"), url(../fonts/FoundersGroteskRegular.ttf) format("truetype");
    font-style: normal
}

* {margin: 0; padding: 0; margin: 0 auto;}
body {
    color: #000; 
    letter-spacing: normal;
    line-height: 1.5;
    font-family: "FoundersGroteskRegular";
    /* overflow-x: hidden; */
}
/* 상단바 */
#header {
    position: fixed;
    z-index: 100000;
    display: flex;
    width: 100%;
    transition: .4s;
    /* opacity: 0; */
}
#header.on {
    transform: translateY(-300%);
}
#nav {
    position: relative;
    padding: 3rem 4rem;
    z-index: 100;
    box-sizing: border-box;
    width: 100%;
    /* transition: all .65s,background .3s; */
    transition-duration: 0.65s, 0.3s;
    transition-timing-function: ease, ease;
}
#nav a {
    z-index: 100;
    margin-top: auto!important;
    margin-bottom: auto!important;
    display: block;
}
#nav .logo {
    position: absolute;
    width: 5rem;
    height: 4rem;
    align-items: center;
}
#nav .ham-wrap {
    transition: transform .2s;
    width: 6rem;
    height: 6rem;
    transform: scale(1) rotate(.1deg);
    float: right;
    cursor: pointer;
}
#nav .ham-wrap a {display: contents;}
#nav .ham-circle {
    border: 1px solid rgba(0,0,0,.5);
    border-radius: 50%;
    height: 100%; width: 100%;
    box-sizing: border-box;
}
#nav .ham-wrap .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* font-size: 1rem; */
    letter-spacing: 1.4px;
    line-height: 1.2;
    transition: .4s;
    text-transform: uppercase;
    display: flex!important;
}
#nav .ham-wrap .text span {
    transition: .3s;
    font-size: 1.2rem!important;
    transform: translateZ(0);
    display: inline-block!important;
}

/* 로딩 */
#section1 {background: #F3F0EB;}
#section1 .container .loading {
    position: fixed; 
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
}
#section1 .container .loading span {
    font-size: 6vw;
    font-family: "Canela-Regular";
    display: inline-block;
    opacity: 0;
}
#section1 .container .loading span.i4 {position: relative;}
#section1 .container .loading span.i5 { 
    position: absolute;
    right: 14.9vw; bottom: 1vw;
    font-size: 1vw;
    font-family: "Canela-Regular";
    text-transform: capitalize;
    opacity: 0;
} 
/* layout */
/* 메인 */
#section1 .container .main {
    padding: 18vh .2vh 8vh .2vh;
    font-family: "Canela-Regular";
}
#section1 .container .mt {
    text-align: center;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section1 .container .mt h1 {
    font-size: 8.5vw;
    font-weight: normal;
    line-height: 1.2;
    position: relative;
    z-index: 10;
    opacity: 0;
}
#section1 .container .img {
    /* margin: -17vh auto 0 auto; */
    margin: 0 auto;
    width: 50vw;
    text-align: center;
    position: relative;
    z-index: 1;
    transform: translate(0px, -210px);
}
#section1 .container .img img {
    margin-top: 6.5vh;
    position: relative;
    z-index: 1;
    opacity: 0;
}
#section1 .container .img h2{
    font-size: 8.5vw;
    font-weight: normal;
    position: relative;
    z-index: 10;
    white-space: nowrap;
    /* margin: -8vh -8vh 0 -8vh; */
    line-height: 0.6;
    margin: 0 -8vh;
    opacity: 0;
}
#section1 .container .img svg {
    margin-top: 20vh;
    height: 2rem;
    opacity: 0;
}

/* 소개 */
#intro {
    background: #fff;
    padding-top: 18vh;
    padding-bottom: 24vh;
}
#intro h3 strong {
    display: block; /*정렬*/
    font-family: "Chosunilbo_myungjo"; 
    font-size: 4.5vw;
    font-weight: normal;
    text-align: center;
    line-height: 1.7;
}
#intro em {color: #9EBDAE;}
#intro .img {
    display: inline-block; 
    background-size: cover;
    width: 7.5vw; height: 7.5vw;
}
#intro .container .img1 {
    background-image: url(../img/1.jpg);
    margin-left: 3vh;
    transform: rotate( 13deg );
}
#intro .container .img2 {
    background-image: url(../img/2.jpg);
    width: 7vw; height: 7vw;
}
#intro .container .img3 {
    background-image: url(../img/3.jpg);
    width: 8vw; height: 8vw;
    margin: 0 3vh;
}
#intro .container .img4 {
    background-image: url(../img/4.jpg);
}
#intro .container .img5 {
    background-image: url(../img/5.jpg);
    transform: rotate( -10deg );
    width: 7vw; height: 7.5vw;
}
#intro .container .img6 {
    background-image: url(../img/6.jpg);
    width: 7vw; height: 8vw;
}
#intro .container .img7 {
    background-image: url(../img/7.jpg);
    width: 7vw; height: 8vw;
}
#intro .container .img8 {
    background-image: url(../img/8.jpg);
}

#content1 {

}
#content1 .cont1 {
    background: #F3F0EB;
}
#content1 .cont1 h2 {
    font-family: "Canela-Regular";
    font-size: 5.5vw;
    font-weight: normal;
    text-align: center;
    position: relative;
    padding: 20vh 0;
    /* box-sizing: border-box; */
}
#content1 .cont1 h2::after {
    content: 'Scroll down for more';
    position: absolute; bottom: 20vh; left: 50%;
    transform: translateX(-50%);
    font-size: 1vw;
    font-family: "FoundersGroteskRegular";
    font-weight: 400;
    line-height: 0.5;
}

.site-wrap {

}
.site-wrap .site {
    /* height: 100vh; */
    display: flex;
}
/* 배경색 */
.site-wrap .site1 {background: #F3F0EB;}
.site-wrap .site2 {background: #fff;}
.site-wrap .site4 {background: #fff;}

.site-wrap .site .left {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 8vw 5vw;
}
.site-wrap .site1 .right {
    flex-basis: 50%;
    background: url(../img/web.jpg) no-repeat;
    background-size: cover;
    background-position: right;
}
.site-wrap .site2 .right {
    flex-basis: 50%;
    background: url(../img/res2.jpg) no-repeat center center;
    background-size: cover;
}
.site-wrap .site3 .right {
    flex-basis: 50%;
    background: url(../img/nong4.jpg) no-repeat center center;
    background-size: cover;
}
.site-wrap .site4 .right {
    flex-basis: 50%;
    background: url(../img/paik2.jpg) no-repeat center center;
    background-size: cover;
}
.site-wrap .site .left h3 {
    font-family: "Canela-Regular";
    font-size: 6vw;
    padding-bottom: 2vw;
    font-weight: normal;
    text-transform: capitalize;
}
.site-wrap .site .left p {
    font-size: 1.3vw;
    font-family: 'Chosunilbo_myungjo'; 
    padding-bottom: 4vw;
    padding-right: 10vw;
}
.site-wrap .site .left li {
    display: inline;
}
.site-wrap .site .left li a {
    display: inline-block;
    border: 1px solid #000;
    padding: .5vw 2vw;
    font-size: 1vw;
    font-family: 'Chosunilbo_myungjo';
    margin-bottom: 8px;
    margin-right: 5px;
}
.site-wrap .site1 .left li.active a {
    color: #F3F0EB;
    background: #000;
}
.site-wrap .site2 .left li.active a {
    color: #fff;
    background: #000;
}
.site-wrap .site .left .btn {
    font-family: "Canela-Regular";
    font-size: 1.2vw;
    float: right;
    margin-top: 3vw;
    margin-left: 1vw;
    position: relative;
}
.site-wrap .site .left .btn::after {
    content: "";
    position: absolute;
    bottom: -.1rem;
    left: 0;
    width: 100%;
    height: 1px;
    background: #000;
    transition: .4s;
}
.site-wrap .site .left .btn:hover::after {
    width: 0;
}

/* 애니메이션1 */
#content2 {
    background: #BCC6BC;
    padding-top: 20vh;
    padding-bottom: 40vh;
    box-sizing: border-box;
    font-family: "Canela-Regular";
}
#content2 h2 {
    font-size: 6vw;
    font-weight: normal;
    text-align: center;
    padding-bottom: 20vh;
}
#content2 h3 {
  font-size: 4.5vw;
  font-weight: normal;
  text-align: center;
  margin-bottom: 6vh;
  opacity: 0.475;
  z-index: 2;
  position: relative;
  cursor: pointer;
}
#content2 h3:hover {
    opacity: 1;
}
#content2 .cursor{
    position: absolute;
    top: 0; left: 0;
    z-index: 1;
    width:40vh; height:45vh; 
    user-select: none;
    pointer-events: none;
    opacity: 0;
  }

/* 애니메이션2 */
#content3 {
    font-family: "Canela-Regular";
    padding: 20vh 0;
    height: 130vh;
    position: relative;
}
#content3 h2 {
    font-size: 6vw;
    font-weight: normal;
    text-align: center;
    padding-bottom: 20vh;
    box-sizing: border-box;
}
#content3 span {
    font-size: 7.5vw;
    font-weight: normal;
    display: flex;
    line-height: .85;
    position: relative;
}
#content3 .script {
    width: 36vw;
    height: 36vw;
    background-color: #292D6C;
    left: 20%;
    position: relative;
}
#content3 .script .btn {
    display: block;
    position: absolute;
    bottom: -6vh;
    font-size: 2vw;
}
#content3 .ani {
    width: 26vw;
    height: 26vw;
    background-color: #F9A5C1;   
    position: relative;
    left: 53%;
    margin-top: -30vw;
}
#content3 .ani .btn {
    display: block;
    position: absolute;
    bottom: -6vh;
    right: 0;
    font-size: 2vw;
}
#content3 .arrow1 svg {
    width: 3rem;
    height: 3rem;
    transform: rotate(90deg);
    position: absolute;
    top: 50%;
    left: 10%;
}
#content3 .arrow2 svg {
    width: 3rem;
    height: 3rem;
    transform: rotate(-90deg);
    position: absolute;
    top: 50%;
    right: 10%;
}

#footer {
    height: 100vh;
    overflow: hidden;
}
#footer .container {
    background-image: url(../img/footer.webp);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    font-family: "Canela-Regular";
    text-align: center;
    color: #fff;
}
#footer .container span {
    display: flex;
    font-size: 4.5vw;
}
#footer .container .s {
}
#footer .container .e {
    right: 35%;
    position: relative;
}
#footer .container .e::after {
    content: "";
    position: absolute;
    bottom: 0vh;
    left: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    transition: .4s;
}
#footer .container .e:hover::after {
    width: 0%;
}