@font-face { 
    font-family: 'Chosunilbo_myungjo'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: "Canela-Regular";
    src: url(../fonts/Canela-Regular.eot);
    src: url(../fonts/Canela-Regular?#iefix) format("embedded-opentype"), url(../fonts/Canela-Regular.woff) format("woff"), url(../fonts/Canela-Regular.ttf) format("truetype");
    font-style: normal
}

@font-face {
    font-family: "FoundersGroteskRegular";
    src: url(../fonts/FoundersGroteskRegular.eot);
    src: url(../fonts/FoundersGroteskRegular?#iefix) format("embedded-opentype"), url(../fonts/FoundersGroteskRegular.woff) format("woff"), url(../fonts/FoundersGroteskRegular.ttf) format("truetype");
    font-style: normal
}

/* layout */
#contents {}
#section1 {height: 100vh; background: #F3F0EB;}
#section2 {height: 100vh; background: #F3F0EB;}
#section3 {height: 3000px; background: #F3F0EB;}
#section4 {}
#section5 {}
#section6 {}


/* sec1 */
.sec1 { }
.sec1 .intro {
    position: fixed; 
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    text-align: center;
}
.sec1 .intro span {
    font-size: 8.5vw;
    font-family: "Canela-Regular";
    display: inline-block;
    opacity: 0;
}
.sec1 .intro span.i5 { 
    position: absolute;
    right: 23vw; bottom: 2vw;
    font-size: 20px;
    font-family: "Canela-Regular";
    text-transform: capitalize;
    opacity: 0;
} 
.sec1 .main {
    text-align: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec1 .main h1 {
    font-size: 7.5vw;
    font-weight: normal;
    line-height: 1.2;
    font-family: "Canela-Regular"; 
    position: relative;
    z-index: 10;
    opacity: 0;
}
.sec1 .img {
    margin: -40vh auto 0 auto;
    width: 50vw;
    text-align: center;
    position: relative;
    z-index: 1;
    opacity: 0;
}
.sec1 .img img {
    position: relative;
    z-index: 1;
}
.sec1 .img .text h2{
    font-size: 7.5vw;
    font-weight: normal;
    line-height: 1.2;
    font-family: "Canela-Regular"; 
    position: relative;
    z-index: 10;
    white-space: nowrap;
    padding-bottom: 5vw;
}
.sec1 .img .text svg {}


/* sec3 */
.sec3 {padding: 30vh 0; }
.sec3 h2 {
    text-align: center;
    font-family: "Canela-Regular";
    font-size: 8vw;
    font-weight: normal;
    position: relative;
    margin-bottom: 30vh;
}
.sec3 h2::after {
    content: 'Scroll down for more';
    position: absolute; bottom: 0; left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-family: "FoundersGroteskRegular";
    font-weight: 100;
}


.site-wrap {}
.site-wrap .site {
    display: flex;
}
.site-wrap .site .left {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 8vw 5vw;
    background: #f9f1e5;
}
.site-wrap .site .right {
    flex-basis: 50%;
    background: url(https://webstoryboy.github.io/portfolio/port16/assets/img/work01_1.jpg) no-repeat center center;
    background-size: cover;
}
 
.site-wrap .site .left h3 {
    font-family: "Canela-Regular";
    font-size: 6vw;
    padding-bottom: 2vw;
    font-weight: normal;
    text-transform: capitalize;
}
.site-wrap .site .left p {
    font-size: 1.3vw;
    font-family: 'Chosunilbo_myungjo'; 
    padding-bottom: 4vw;
    padding-right: 10vw;
}
.site-wrap .site .left li {
    display: inline;
}
.site-wrap .site .left li a {
    display: inline-block;
    border: 1px solid #000;
    padding: .5vw 2vw;
    font-size: 1vw;
    font-family: 'Chosunilbo_myungjo';
    margin-bottom: 8px;
    margin-right: 5px;
}
.site-wrap .site .left li.active a {
    color: #F3F0EB;
    background: #000;
}
.site-wrap .site .left .btn {
    font-family: "Canela-Regular";
    font-size: 1.2vw;
    border-bottom: 1px solid #000;
    float: right;
    margin-top: 3vw;
    margin-left: 1vw;
}

















