@font-face { 
    font-family: 'Chosunilbo_myungjo'; 
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff'); 
    font-weight: normal; 
    font-style: normal; 
}

@font-face {
    font-family: Canela-Regular;
    font-display: block;
    src: url(../fonts/Canela-Regular.eot);
    src: url(../fonts/Canela-Regular?#iefix) format("embedded-opentype"), url(/fonts/Canela-Regular.woff) format("woff"), url(../fonts/Canela-Regular.ttf) format("truetype");
    font-style: normal
}

@font-face {
    font-family: FoundersGroteskRegular;
    font-display: block;
    src: url(../fonts/FoundersGroteskRegular.eot);
    src: url(../fonts/FoundersGroteskRegular?#iefix) format("embedded-opentype"), url(../fonts/FoundersGroteskRegular.woff) format("woff"), url(../fonts/FoundersGroteskRegular.ttf) format("truetype");
    font-style: normal
}

* {margin: 0; padding: 0; margin: 0 auto;}
body {
    color: #000; 
    letter-spacing: normal;
    line-height: 1.5;
    font-family: "FoundersGroteskRegular";
}

.loading {
    height: 100vh;
    background: #F3F0EB;
    position: relative;
}
.loading .container{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 40vh; left: 0vw;
}
.loading span {
    font-size: 6vw;
    font-family: "Canela-Regular"; font-weight: normal;
    display: inline-block;
    margin: 0 .1vw;
    opacity: 0;
    /* animation: loading 1.4s; */
  }
  .loading span:nth-child(1) {
    animation: loadingL 1.4s;
  }
  .loading span:nth-child(2) {
    animation: loadingL 1.4s;
  }
  @keyframes loadingL {
    0% {
      transform: translateX(-40px);
      opacity: 1;
    }
    80% {
      transform: translateX(0px);
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  .loading span:nth-child(3) {
    animation: loadingR 1.4s;
  }
  .loading span:nth-child(4) {
    animation: loadingR 1.4s;
  }
  @keyframes loadingR {
    0% {
      transform: translateX(40px);
      opacity: 1;
    }
  
    80% {
      transform: translateX(0px);
      opacity: 1;
    }
    100% {
        opacity: 0;
    }
  }

/* layout */
/* 메인 */
#main {
    background: #F3F0EB;
    padding: 18vh .2vh 8vh .2vh;
    font-family: "Canela-Regular";
}
#main .waypoint {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
#main .waypoint h1 {
    display: flex;
    font-size: 8.5vw;
    font-weight: normal;
    line-height: 1;
    z-index: 1;
}
#main .waypoint h2 {
    font-size: 8.5vw;
    font-weight: normal;
    z-index: 1;
    margin-top: -8vh;
}
#main .waypoint a {display: inline-block;}
#main .waypoint img {
    max-width: 50%;
    margin-top: -6vh;
}
#main .waypoint svg {
    height: 8vh;
    vertical-align: middle;
}

/* 소개 */
#intro {
    background: #fff;
    padding-top: 18vh;
    padding-bottom: 24vh;
}
#intro h3 strong {
    display: block; /*정렬*/
    font-family: "Chosunilbo_myungjo"; 
    font-size: 4.5vw;
    font-weight: normal;
    text-align: center;
    line-height: 1.7;
}
#intro em {color: #9EBDAE;}
#intro span {
    display: inline-block; 
    background-size: cover;
    width: 15vh; height: 15vh;
}
#intro .container .img1 {
    background-image: url(../img/1.jpg);
    margin-left: 3vh;
    transform: rotate( 13deg );
}
#intro .container .img2 {
    background-image: url(../img/2.jpg);
    width: 14vh; height: 14vh;
}
#intro .container .img3 {
    background-image: url(../img/3.jpg);
    width: 16vh; height: 16vh;
    margin: 0 3vh;
}
#intro .container .img4 {
    background-image: url(../img/4.jpg);
}
#intro .container .img5 {
    background-image: url(../img/5.jpg);
    transform: rotate( -10deg );
    width: 14vh; height: 15vh;
}
#intro .container .img6 {
    background-image: url(../img/6.jpg);
    width: 14vh; height: 16vh;
}
#intro .container .img7 {
    background-image: url(../img/7.jpg);
    width: 14vh; height: 16vh;
}
#intro .container .img8 {
    background-image: url(../img/8.jpg);
}

#content1 {

}
#content1 .cont1 {
    background: #F3F0EB;
}
#content1 .cont1 h2 {
    font-family: "Canela-Regular";
    font-size: 11.3vh;
    font-weight: normal;
    text-align: center;
    position: relative;
    padding: 20vh 0;
    /* box-sizing: border-box; */
}
#content1 .cont1 h2::after {
    content: 'Scroll down for more';
    position: absolute; bottom: 20vh; left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-family: "FoundersGroteskRegular";
    font-weight: 400;
    line-height: 1.5;
}

.site-wrap {

}
.site-wrap .site {
    height: 100vh;
    display: flex;
}
/* 배경색 */
.site-wrap .site1 {background: #F3F0EB;}
.site-wrap .site2 {background: #fff;}
.site-wrap .site4 {background: #fff;}

.site-wrap .site .left {
    flex-basis: 50%;
    box-sizing: border-box;
    padding: 8vw 5vw;
}
.site-wrap .site1 .right {
    flex-basis: 50%;
    background: url(../img/web.jpg) no-repeat;
    background-size: cover;
    background-position: right;
}
.site-wrap .site2 .right {
    flex-basis: 50%;
    background: url(../img/res2.jpg) no-repeat center center;
    background-size: cover;
}
.site-wrap .site3 .right {
    flex-basis: 50%;
    background: url(../img/nong4.jpg) no-repeat center center;
    background-size: cover;
}
.site-wrap .site4 .right {
    flex-basis: 50%;
    background: url(../img/paik2.jpg) no-repeat center center;
    background-size: cover;
}
.site-wrap .site .left h3 {
    font-family: "Canela-Regular";
    font-size: 6vw;
    padding-bottom: 2vw;
    font-weight: normal;
    text-transform: capitalize;
}
.site-wrap .site .left p {
    font-size: 1.3vw;
    font-family: 'Chosunilbo_myungjo'; 
    padding-bottom: 4vw;
    padding-right: 10vw;
}
.site-wrap .site .left li {
    display: inline;
}
.site-wrap .site .left li a {
    display: inline-block;
    border: 1px solid #000;
    padding: .5vw 2vw;
    font-size: 1vw;
    font-family: 'Chosunilbo_myungjo';
    margin-bottom: 8px;
    margin-right: 5px;
}
.site-wrap .site1 .left li.active a {
    color: #F3F0EB;
    background: #000;
}
.site-wrap .site2 .left li.active a {
    color: #fff;
    background: #000;
}
.site-wrap .site .left .btn {
    font-family: "Canela-Regular";
    font-size: 1.2vw;
    border-bottom: 1px solid #000;
    float: right;
    margin-top: 3vw;
    margin-left: 1vw;
}



/* 애니메이션1 */
#content2 {
    background: #BCC6BC;
    padding-top: 20vh;
    padding-bottom: 40vh;
    box-sizing: border-box;
    font-family: "Canela-Regular";
}
#content2 h2 {
    font-size: 6vw;
    font-weight: normal;
    text-align: center;
    padding-bottom: 20vh;
}
#content2 h3 {
  font-size: 4.5vw;
  font-weight: normal;
  text-align: center;
  margin-bottom: 6vh;
  opacity: 0.475;
}
#content2 h3:hover {
  opacity: 1;
  transition-property: all;
  transition-duration: 0.4s;
  transition-timing-function: ease;
  transition-delay: 0s;
    font-size: 4.489vw;
}

/* 애니메이션2 */
#content3 {position: relative; box-sizing: border-box;}
#content3 .top {
    
}
#content3 .top h2 {
    font-family: "Canela-Regular";
    font-size: 11.3vh;
    font-weight: normal;
    text-align: center;
    padding: 20vh 0;
    /* display: block; */
}
#content3 .top h3 {
    font-family: "Canela-Regular";
    font-size: 15vh;
    font-weight: normal;
    text-align: center;
    position: absolute; top: 40vh; left: 100vh;
    /* display: block; */
}
#content3 .top h4 {
    font-family: "Canela-Regular";
    font-size: 15vh;
    font-weight: normal;
    text-align: center;
    position: absolute; top: 52vh; left: 117vh;
    /* display: block; */
}
#content3 .box {
    display: flex; 
    align-items: center; 
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}
#content3 .box .left1 {
    width: 75vh;
    height: 75vh;
    background-color: #F8D8C1;
    position: relative;
}
#content3 .box .left1 p {
    position: absolute; bottom: -7vh; left: 0;
    font-family: "Canela-Regular";
    font-size: 5vh;
    font-weight: normal;
}
#content3 .box .right1 {
    width: 52vh;
    height: 52vh;
    background-color: #AFC9BB;
    /* margin-right: 40vh; */
    z-index: 1;
    /* top: -65vh; */
    position: relative; right: 5vh;
}
#content3 .box .right1 p {
    position: absolute; bottom: -7vh; right: 0;
    font-family: "Canela-Regular";
    font-size: 5vh;
    font-weight: normal;
}


#content2 .cursor{
  position: absolute;
  top: 0; left: 0;
  z-index: 1;
  width:40vh; height:45vh; 
  user-select: none;
  pointer-events: none;
  opacity: 0;
  
}
#content2 h3 {
    z-index: 2;
    position: relative;
    cursor: pointer;
}