.container {
    //max-width: 1150px;
    margin: 0 auto;
    padding: 0;
    position: relative;
}
.pc_ver {
    width: 100%;
    transform: scale(1,1);
    transition: .8s ease;
    position: relative;
}
.m_ver {
    display: none;
    width: 100%;
    transform: scale(1,1);
    transition: .8s ease;
}
.color-1 {color: #0e347e;}

#header {
    height: 123px;
    display: block;
    line-height: 1;
    .container {
        max-width: 1150px;
        .topbar {
            height: 38px;
            ul {
                text-align: right;
                padding-top: 18px;
            }
            li {
                display: inline-block;
                a {
                    display: inline;
                    font-size: 0.75rem;
                    font-weight: 300;
                    color: #8b8b8b;
                }
                &::after {
                    display: inline-block;
                    width: 1px;
                    height: 10px;
                    margin: 14px;
                    vertical-align: middle;
                    background: #e0e0e0;
                    content: '';
                }
                &:nth-last-of-type(1){
                    &::after{
                        content : '';
                        width:0;
                    }
                }
                &:nth-last-of-type(6){
                    &::after{
                        content : '';
                        width:0;
                    }
                }
            }
            .sns {
                display: none;
                margin: 0 3px;
                font-size: 0;
                vertical-align: middle;
            }
            .topbar li:nth-child(3) {
                margin-right: 15px;
                content: '';
                width: 0;
            }
        }

        .navwrap {
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            width: 100%;
            .nav-icon {
                width: 194px; height: 65px;
                vertical-align: middle;
                display: inline-block;
            }
            .navbar {
                padding: 0 -39px;
                li {
                    text-align: right;
                    display: inline-block;
                    padding : 0 30px;
                    font-size: 14.992px;
                    list-style: none;
                    color: #222;
                    box-sizing: border-box;
                }
            }
        }

        
    }
}

// banner
#banner {
    width: 100%;
    .swiper-container {
        z-index: 1;
        margin: 0 auto;
    }
}

// .main_sec>img {
//     width: 100%;
//     transform: scale(1,1);
//     transition: .8s ease;
// }
#main_sec {width: 100%; margin: 0; padding: 0;}
// .main_sec_row1
.main_sec_row1 {
    width: 100%; height: 230px;
    margin-bottom: 5px;
    background: url(../img/dabang/main_sec1.jpg)no-repeat center;
    .container {
        width: 1105px;
        padding-left: 45px;
        box-sizing: border-box;

        .main_tit {
            margin-bottom: 0.3rem;
            font-size: 3.125rem;
            font-weight: 800;
            span {
                display: inline-block;
                color: #564e00;
                font-size: 1rem;
            }
        }
        .font-eb {font-weight: 800;}
        
        
        
        .font1 pc_ver {
            margin-bottom: 1.5rem;
            font-size: 0.937rem;
            line-height: 150%;
            color: #202020;
        }
        .btn st-1 {
            background: #fff;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: block;
            position: absolute; bottom: 0; //컨테이너 기준
            position: relative; //가상요소
            //overflow: hidden;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all .3s ease;
            box-shadow: 3px 0 11px rgba(138, 138, 138, 0.2);
            &::before {
                position: absolute; top: 70%; left: 30%;
                transform: rotate(90deg) translateX(-10px);
                content: '';
                display: inline-block;
                width: 20px;
                height: 3px;
                background: #080406;
            }
            &::after {
                position: absolute; top: 50%; left: 50%;                
                transform: rotate(0deg) translateX(-10px);
                content: '';
                display: inline-block;
                width: 20px;
                height: 3px;
                background: #080406;
            } 
        }
    }
}

.main_sec_row2 {
    position: relative; //글씨
    display: block;
    .container {
        position: absolute; top: 0; left: 20%;
        box-sizing: border-box;
        padding-top: 30px;
        padding: 31px 0 40px 45px;
        width: 100%;
        
        .main_tit {
            font-size: 3.125rem;
            text-transform: uppercase;
            -webkit-margin-before: 0;
            font-weight: 900;
            &::after {
            display: block;
            width: 37px;
            height: 2px;
            margin: 28px 0;
            background: #7f5b39;
            content: '';
            }
        }
        .color-2 {
            color: #6b4d30;
        }
        .font-bl {
            font-weight: 900;
        }
        .sub_tit {
            margin-bottom: 1rem;
            font-size: 1.125rem;
            line-height: 130%;
        }

    }
}
// .main_sec_row3
.main_sec_row3 {
    margin-top: 10px;
    position: relative;
    
    .container {
        display: flex;
        //justify-content: center;
        box-sizing: border-box;
        width: 100%;
        margin: 0 -5px;
        .beverage {
            width: calc(60% - 10px);
            margin: 0 5px 10px;
            position: relative;
            overflow: hidden;
            .inner {
                padding-left: 45px;
                padding-top: 79px;
                box-sizing: border-box; 
                width: 63%;
                float: right;
                left: inherit;
                right: 0;
                transform: none;
                position: absolute; top: 0;
                .main_tit {
                    height: 130px;
                    color: #93a03d;
                    font-size: 3.125rem;
                    text-transform: uppercase;
                    line-height: 50px;
                    font-family: inherit;
                    font-weight: 700;
                }
                .sub_tit {
                    font-size: 1.125rem;
                }
            }
        }
        .ccino {
            width: calc(40% - 10px);
            box-sizing: border-box;
            margin: 0 5px 10px;
            position: relative;
            .inner {
                padding-left: 45px;
                padding-top: 79px;
                box-sizing: border-box; 
                width: 100%;
                height: 100%;
                position: absolute; top: 0; left: 50%;
                transform: translateX(-50%);
                .main_tit {
                    color: #f1ae1d;
                    font-weight: 800;
                    text-transform: uppercase;
                    font-size: 50px;
                    line-height: 50px;
                }
                .sub_tit {
                    font-size: 1.125rem;
                }
            }
        }
    }
}
// tbox
.tbox {
    .container {
        margin: 0 -5px;
        overflow: hidden;
        margin: 0 auto;
        .dessert {
            width: calc(53% - 10px);
            float: right;
            margin: 0 5px 10px;
            position: relative;
            .inner {
                padding: 80px 45px 40px 45px;
                width: 100%;
                //height: 100%;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                .main_tit {
                    margin-bottom: 0;
                    color: #b47c55;
                    text-transform: uppercase;
                    font-weight: 900;
                    font-size: 50px;
                    line-height: 50px;
                }
                .sub_tit {
                    margin-bottom: 1rem;
                    font-size: 1.125rem;
                    line-height: 130%;
                    font-weight: 700;
                }
            }
        }
        .l_box {
            width: calc(47% - 10px);
            margin: 0 5px 10px;
            overflow: hidden;
            .l_inner {
                float: right;
                width: 416px;
                height: 202px;
                padding: 48px 42px 37px 42px;
                margin-bottom: 10px;
                border: 2px solid #0e347e;
                position: relative;
                .main_tit {
                    margin-bottom: 0;
                    color: #b47c55;
                }
            .l_inner:last-child { //백종원 배경 안됨
                margin-bottom: 0;
                background: url(../img/dabang/main_sec6.png) no-repeat bottom right;
                background-size: 294px 210px;
            }
                .main_tit2 {
                    margin-bottom: 0.7rem;
                    text-transform: uppercase;
                    font-size: 2.187rem;
                }
                .font-l {
                    font-size: 0.937rem;
                    line-height: 150%;
                }
                .store_search {
                    width: 326px;
                    position: absolute;
                    left: 42px;
                    bottom: 37px;
                    form {
                        display: block;
                        margin-top: 0em;
                        input {
                            width: 100%;
                            height: 40px;
                            padding: 0 18px;
                            border: 2px solid #0e347e;
                            font-size: 0.812rem;
                        }
                        .ok {
                            border: 0;
                            cursor: pointer;
                            position: absolute;
                            top: 50%;
                            right: 5px;
                            background: transparent;
                            transform: translateY(-50%);
                        }
                        .ok>img {
                            width: 23px;
                        }
                    }
                }
            }
        }
    }
}
.sns {
    padding: 60px 0;
    .container {
        .text-center {
            text-align: center;
            p {line-height: 150%;}
            .font-2 {
                margin-bottom: 0.5rem;
                font-size: 1.437rem;
                font-weight: 800;
                letter-spacing: 3px;
                font-family: 'Nanum Myeongjo',sans-serif;
            }
            .tag span {
                    margin: 0 6px 0;
                    color: #999;
                    font-size: 16px;
            }
            .tag:after {
                display: block;
                width: 50px;
                height: 1px;
                margin: 30px auto;
                background: #0e347e;
                content: '';
            }
        }
        .sns_ico {
            text-align: center;
            margin-bottom: 39px;
            display: flex;
            box-sizing: border-box;
            .sns_ico li {
                display: inline-block;
                margin: 0 9px 0;
                list-style: none;
            }
            img {
                width: 32px;
            }
        }
    }
}

#footer {
    border-top: 3px solid #ffe600;
    .container {
        max-width: 1150px;
        .in_footer {
            padding: 30px 0;
            text-align: center;
            color: #262626;
            .logo {
                display: inline-block;
                width: 179px;
            }
            .logo.light {
                display: none;
            }
            .company_info {
                padding-top: 30px;
                margin-bottom: 0;
                font-size: 0.812rem;
                li {
                    display: inline-block;
                    list-style: none;
                    line-height: 1.7;
                    font-size:12.992px;
                    color: #262626;
                }
                .copyright {
                    margin-top: 2rem;
                    line-height: 150%;
                }
            }
            .r_box {
                width: 100%;
                max-width: 175px;
                position: absolute;
                top: 30px;
                right: 0;
                font-size: 0.75rem;
                .family_site {
                    width: 100%;
                    padding: 5px 7px;
                    margin-bottom: 25px;
                    border: 1px solid #262626;
                    position: relative;
                    cursor: pointer;
                    text-align: left;
                    -webkit-appearance: menulist-button;
                }
            }
        }
    }
}
.to_top {
    position: fixed;
    bottom: 15px;
    right: 15%;
    span {
        display: inline-block;
        width: 60px;
        height: 60px;
        cursor: pointer;
        background: url(../img/dabang/off.png)no-repeat center;
    }
}